# May not make any sense for adding all these files but are just for future gitignore references 
.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
build
target
out
*.iml
*.ipr
*.iws
.vertx
test-output
src/scratchpad
test-results
test-tmp
*.class
*.swp
.vertx


*.log
*.out
*.gz
*.aux
*.dvi
